.rev{
    padding: 2%;
    border: 2px solid grey;
    border-style: double;
    border-radius: 10%;
    text-align: center;
    width: 20rem;
    margin-bottom: 3%;
}
.match{
    border: 2px solid rgb(247, 202, 119);
    background-color: rgb(247, 202, 119);
    color: rgb(22, 22, 19);
    text-align: center;
    height: 15rem;
    margin-bottom: 3%;
    letter-spacing: 10px;
    
}
.bt{
    border: 1px solid black;
    padding: 10px 15px;
    background-color: transparent;
    background-color: white;
    width: 10rem;
    
}
.match a{
    color: black;
    text-decoration: none;
}

.match a:hover{
    color: rgb(189, 92, 1);
}

.click{
    padding: 5px 20px;
    background-color: white;
    letter-spacing: 2px;
}

.click:hover{
    background-color: rgb(177, 170, 170);
    letter-spacing: 4px;
}

